{{#section 'head'}}
<title>Statistics</title>
<script>
	function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
	$(document).ready(function(){
		var ctx = document.getElementById("c1");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{{#each f}}'{{this}}',{{/each}}],
        datasets: [{
            data: [{{#each fData}}'{{this}}',{{/each}}],
            backgroundColor: [
                {{#each fData}}getRandomColor(),{{/each}}
],            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },legend: {
        display: false
    }
    }
});



	var ctx = document.getElementById("c2");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{{#each s}}'{{this}}',{{/each}}],
        datasets: [{
            label: '# of subjects',
            data: [{{#each sData}}'{{this}}',{{/each}}],
            backgroundColor: [
                {{#each sData}}getRandomColor(),{{/each}}
],            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },legend: {
        display: false
    }
    }
});
	var ctx = document.getElementById("c3");
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: [{{#each r}}'{{this}}',{{/each}}],
        datasets: [{
            label: '# of subjects',
            data: [{{#each rData}}'{{this}}',{{/each}}],
            backgroundColor: [
                {{#each rData}}getRandomColor(),{{/each}}
],            borderWidth: 1
        }]
    }
});

	});



</script>


{{/section}}
<div class="page-header">
    <h1>Statistics</h1>
</div>

<div class="col-lg-12"><h3>Functionalities</h3> <canvas id="c1"></canvas></div>
{{#unless r}}
{{else}}
<h3>Exonic Functionalities</h3>
<div class="col-lg-offset-3 col-lg-6"><canvas id="c3"></canvas></div>

{{/unless}}
<div class="col-lg-12"><h3>Subjects</h3><canvas id="c2"></canvas></div>