{{#section 'head'}}
    <title>Your Projects</title>
<script type="text/javascript" src="/js/samples.js"></script>
<style>
    body {
    margin-bottom:200px;
    }
</style>
{{/section}}

<section>
    <div class="page-header">
        <h1>{{project.Name}} samples</h1>
    </div>

    {{#unless samples}}
    <h1>There aren't samples for this project</h1>
    {{else}}
    <div class="table-responsive pure-table pure-table-horizontal">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="shortColumn"></th>
                    <th>Name</th>
                    <th class="shortColumn">Remove</th>
                </tr>
            </thead>
            <tbody>
                {{#each samples}}
                <tr>
                    <td>
                        <a data-toggle="tooltip" title="<img src='/photos/{{this.Id}}.jpeg' />">
                            <img class="pic" onerror="/photos/3.jpeg" src="/photos/{{this.Id}}.jpeg" />
                        </a>
                    </td>
                    <td>{{this.Name}}</td>
                    <td><a class="removeSample" href="#" on="{{this.Id}}"><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/unless}}


</section>
